@import url("../pages/home/home.css");
@import url("../pages/about/about.css");
@import url("../pages/contact/contact.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}
