.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-badge {
  padding: 7px;
  background-color: #eeeaff;
  border-radius: 12px;
  color: #5946a5;
}

.team-header {
  font-size: 3.5rem;
}

.light-gray {
  color: #868b8d;
}

.contactus-btn {
  padding: 10px 25px;
  border-radius: 12px;
  background-color: #5946a5;
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: all 300ms ease;
}

.contactus-btn:hover {
  background-color: #745bd7;
}

.member {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.member ul li {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.member ul li:first-child {
  background-color: #000000;
  border: 1px solid #000000;
}
.member ul li:nth-child(2) {
  background-color: #0077b5;
  border: 1px solid #0077b5;
}
.member ul li i {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.member .gitHubIcon {
  color: #fff;
}
.member .linkedInIcon {
  color: #fff;
}
.member ul li:first-child:hover {
  background-color: #fff;
}
.member ul li:first-child:hover i {
  color: #000000;
}
.member ul li:nth-child(2):hover {
  background-color: #fff;
}
.member ul li:nth-child(2):hover i {
  color: #0077b5;
}

.member-1 {
  background-image: url(../../assets/OurTeam/MohamedFahim.jpg);
}
.member-2 {
  background-image: url(../../assets/person2.png);
}
.member-3 {
  background-image: url(../../assets/person3.png);
}

.card-jobtitle {
  color: #866ee6;
}

@media screen and (max-width: 600px) {
  .team-header {
    font-size: 2.5rem;
  }
}
