.c-check-purple:checked {
  background-color: var(--bg-main-color);
  border-color: var(--bg-main-color);
}

.shop-filters-header {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.shop-filter-container {
  padding: 1rem 0;
  border-bottom: 1px solid #e1e1e1;
}

#customRange::-webkit-slider-thumb {
  background: black;
}
#customRange::-webkit-slider-runnable-track {
  background: black;
}

.bg-gray {
  background-color: #e5e7eb;
}

.border-gray {
  border-color: #d1d5db;
}

.c-fs-7 {
  font-size: 14px;
}
.c-fs-8 {
  font-size: 12px;
}
.shop-card-price {
  color: var(--bg-main-color);
}
.shop-cart-btn {
  background-color: white;
  color: var(--bg-main-color);
  border: 1px solid var(--bg-main-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  outline: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  padding: 7px;
}
.shop-cart-btn:focus,
.shop-cart-btn:active {
  outline: none;
  border: 1px solid var(--bg-main-color);
}
.shop-cart-btn:hover {
  background-color: var(--bg-main-color);
  color: white;
  box-shadow: var(--shadow-md);
}
.add-to-fav {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.add-to-fav:hover {
  color: var(--red-color);
}
.shop-card-badge {
  background-color: var(--red-color);
}


.form-check-input[type=checkbox] {
  box-shadow: none;
  border-color: var(--bg-main-color);
}
#product-grid-container .col {
  animation-name: fadeInOut;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}