<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="m-0">
            Copyright © 2025 Sharks Team. All rights reserved.
            <strong><a class="text-decoration-underline" data-link href="/our-team">Our Team</a></strong>
          </p>
        </div>
        <div class="col-md-6">
          <div class="text-md-end">
            <a href="/" class="me-3">Terms and Conditions</a>
            <a href="/" class="me-3">Privacy Policy</a>
            <a href="/">Cookie Policy</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
