<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="pf-sidebar">
      <div class="pf-sidebar-header">
        <div class="pf-user-avatar">
          <img src="../assets/avatar.jpg" alt="User Avatar" id="pf-avatar-img" />
        </div>
        <h5 class="pf-user-name" id="pf-sidebar-name">John Doe</h5>
        <p class="pf-user-email" id="pf-sidebar-email">john.doe@example.com</p>
      </div>

      <nav class="pf-sidebar-nav">
        <ul class="pf-nav-list"></ul>
      </nav>
    </div>
  </body>
</html>
