.checkout-billing-details {
  border: 2px solid #a855f7;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
}
.checkout-box {
  border: 2px solid #a855f7;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
}

.checkout-box h5 {
  font-weight: 600;
  margin-bottom: 20px;
}

.order-total {
  font-weight: bold;
  font-size: 1.1rem;
}

.btn-order {
  background-color: #6d28d9;
  color: white;
  font-weight: 500;
}

.btn-order:hover {
  background-color: #5b21b6;
  color: #fff;
}

.terms {
  font-size: 0.85rem;
}
