/* Wishlist Table */
.wishlist-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.wishlist-table th,
.wishlist-table td {
  padding: 15px;
  text-align: center;
  border: 1px solid #dee2e6; /* lines between rows/columns */
}
.wishlist-table thead {
  background: #343a40;
  color: #fff;
}

.wishlist-table .product-remove a {
  color: #dc3545;
  font-size: 1.2rem;
  transition: 0.2s;
  cursor: pointer;
}
.wishlist-table .product-remove a:hover {
  color: #a71d2a;
}

.btn-move{
  color: rgb(61, 135, 61);
  transition: all .04s;
  cursor: pointer;
font-size: 20px;

}
.btn-move:hover{
  color: rgb(56, 173, 56);
}

.btn-remove{
  color: #a71d2a;
  transition: all 0.4s;
cursor: pointer;
font-size: 20px;
}


.btn-remove:hover{
  color: #dc3545;
}
